.friend-container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.friend-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 300px;
  width: 400px;
  box-shadow: 2px 2px 3px 3px rgb(175, 175, 175);
  margin: 20px;
}